In [1]:
import pandas as pd
import requests
import json
import datetime
import time

In [8]:
def scrape_api(url):
    # Send an HTTP GET request to the API endpoint
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the JSON data from the response
        data = response.json()

        # Print a limited portion of the JSON response for inspection
#         print(json.dumps(data['response']['docs'][:5], indent=4))  # Prints the first 5 documents
    else:
        print(f"Request failed with status code: {response.status_code}")
        
    return data

In [9]:
def df_creator(apilist):
    headlines=[]
    date1=[]
    time1=[]
    # Store data into the fields 
    for item in apilist['response']['docs']:
        headlines.append(item['abstract'])
    #     date_and_time=item['pub_date']
        date1.append(item['pub_date'][:10])
        time1.append(item['pub_date'][10:])
    #     ratingScore.append(item['leftView']['rateScore'])
    #     quantity.append(item['rightView']['text'].split(' Sold')[0]
#     print(headlines)
#     print(date)
#     print(time)
    #Combine all the columns together
    output=pd.DataFrame({'Date':date1,'Time':time1,'Headlines':headlines})
    output
    return output

In [10]:
def df_concat(datfra1,datfra2):
    
    final_data = pd.concat([datfra1, datfra2], ignore_index=True, sort=False)
    return final_data

In [15]:
# Example usage
def required_time(From_year, To_year, from_month=1, to_month=12):
    year=From_year
    month=from_month
    news_data=pd.DataFrame()
    # print(dt['response']['docs'])

    for i in range(From_year,To_year+1):
        month=from_month
        for j in range(from_month-1,to_month):
        
            print(year,month)
            api_url = 'https://api.nytimes.com/svc/archive/v1/'+str(year)+'/'+str(month)+'.json?api-key=1InslIO2svxp9asyHPStTM1dAWKdolNl'  # Replace with the actual API endpoint URL
            dt=scrape_api(api_url)
            
            df1=df_creator(dt)
            
            # Use pandas.concat() method to ignore_index 
            news_data = df_concat(news_data,df1)
            # print(month)
            month+=1
            time.sleep(15)
            
        year+=1


    return news_data

In [16]:
data1=required_time(2010, 2022)
data1

2010 1
2010 2
2010 3
2010 4
2010 5
2010 6
2010 7
2010 8
2010 9
2010 10
2010 11
2010 12
2011 1
2011 2
2011 3
2011 4
2011 5
2011 6
2011 7
2011 8
2011 9
2011 10
2011 11
2011 12
2012 1
2012 2
2012 3
2012 4
2012 5
2012 6
2012 7
2012 8
2012 9
2012 10
2012 11
2012 12
2013 1
2013 2
2013 3
2013 4
2013 5
2013 6
2013 7
2013 8
2013 9
2013 10
2013 11
2013 12
2014 1
2014 2
2014 3
2014 4
2014 5
2014 6
2014 7
2014 8
2014 9
2014 10
2014 11
2014 12
2015 1
2015 2
2015 3
2015 4
2015 5
2015 6
2015 7
2015 8
2015 9
2015 10
2015 11
2015 12
2016 1
2016 2
2016 3
2016 4
2016 5
2016 6
2016 7
2016 8
2016 9
2016 10
2016 11
2016 12
2017 1
2017 2
2017 3
2017 4
2017 5
2017 6
2017 7
2017 8
2017 9
2017 10
2017 11
2017 12
2018 1
2018 2
2018 3
2018 4
2018 5
2018 6
2018 7
2018 8
2018 9
2018 10
2018 11
2018 12
2019 1
2019 2
2019 3
2019 4
2019 5
2019 6
2019 7
2019 8
2019 9
2019 10
2019 11
2019 12
2020 1
2020 2
2020 3
2020 4
2020 5
2020 6
2020 7
2020 8
2020 9
2020 10
2020 11
2020 12
2021 1
2021 2
2021 3
2021 4
2021 5
2021 6
2021 7
2021 8
2021 9
2021 10
2021 11
2021 12
2022 1
2022 2
2022 3
2022 4
2022 5
2022 6
2022 7
2022 8
2022 9
2022 10
2022 11
2022 12

,Date,Time,Headlines
0,2010-01-01,T00:04:53+0000,"In an age of digital imagery, one man still ea..."
1,2010-01-01,T00:18:05+0000,Assessing notable dance performances coming up...
2,2010-01-01,T00:23:36+0000,"Jimmy Van Bramer, newly elected to the New Yor..."
3,2010-01-01,T00:24:25+0000,The Hokies may be the most consistent program ...
4,2010-01-01,T00:38:34+0000,"This week, answers to readers’ questions about..."
...,...,...,...
972603,2022-12-31,T19:10:36+0000,She infused her work with political and femini...
972604,2022-12-31,T19:21:09+0000,"Heavy rain, snow and wind were battering parts..."
972605,2022-12-31,T20:18:43+0000,"Each year, the comic headlined the club during..."
972606,2022-12-31,T20:22:56+0000,"What brought the owl to the city of Cypress, i..."
972607,2022-12-31,T20:46:45+0000,Answering reader queries about the state of th...

In [ ]:
# # Example usage
# year=2022
# month=7
# news_data_2=pd.DataFrame()
# # print(dt['response']['docs'])

# for i in range(0,6):
#     api_url = 'https://api.nytimes.com/svc/archive/v1/'+str(year)+'/'+str(month)+'.json?api-key=1InslIO2svxp9asyHPStTM1dAWKdolNl'  # Replace with the actual API endpoint URL
#     dt=scrape_api(api_url)
#     df1=df_creator(dt)
    
#     # Use pandas.concat() method to ignore_index 
#     news_data_2 = pd.concat([news_data, df1], ignore_index=True, sort=False)
#     print(month)
#     month+=1
    
# news_data_2

In [17]:
file_name = 'ScrappedNewsData10Years.xlsx'
  
# saving the excel
data1.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [ ]:
'https://api.nytimes.com/svc/archive/v1/2022/10.json?api-key=1InslIO2svxp9asyHPStTM1dAWKdolNl'

In [4]:
for i in range(43,48):
    print('we')

we
we
we
we
we